.main-position {
  margin: 0px var(--public-margin);
}

.chat__menu {
  padding-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.chat__menu-title h1 {
  font-size: 32px;
  font-weight: 600;
}

.chat__menu-icons-list {
  display: flex;
  justify-content: space-between;
}

.chat__menu-icons-list-icon:not(.first) {
  margin-left: 40px;
}

.chat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat-photo img {
  margin-right: 0px;
}

.chat-text {
  min-width: 270px;
}

.chat-time {
  display: flex;
  align-items: flex-start;
  height: 38px;
}

.chat-time div:first-child {
  position: relative;
}

.notice {
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 4px;
  left: 9px;
}

.chat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
